.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.5% !important;
}

.swiper-wrapper {
  justify-content: flex-star;
  padding-left: 5%;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #2e53a3;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 24px;
  color: #000;
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-bullet-active {
  color: #fff;
}
